<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home | IndonesianLER</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <script>
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>

  <body class="bg-slate-100 dark:bg-gray-900">
    {% include 'layouts/navbar.html' %}

    <div class="min-h-screen flex flex-col justify-between" id="home">
      <section
        class="bg-center bg-no-repeat bg-gray-700 bg-blend-multiply bg-cover mt-16 flex justify-center bg-[url('/static/dist/images/hero.jpeg')]"
      >
        <div class="container xl:max-w-screen-xl">
          <div class="px-4 mx-auto text-center py-24 lg:py-56">
            <h1
              class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
            >
              IndonesianLER
            </h1>
            <p
              class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
            >
              Indonesian Legal Entity Recognition (IndonesianLER) adalah
              aplikasi berbasis web yang bertujuan untuk melakukan pengenalan
              entitas hukum pada dokumen hukum berbahasa Indonesia.
            </p>
            <div
              class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
            >
              <a
                href="#search"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
              >
                Cari Dokumen
                <svg
                  class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>

      <main class="flex flex-col items-center pt-16 mb-12" id="search">
        <div class="container xl:max-w-screen-xl p-4 text-center">
          <div class="mt-4 mb-8">
            <h2
              class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
            >
              Cari Dokumen Hukum
            </h2>
            <p
              class="mb-4 font-semibold text-slate-700 lg:text-lg dark:text-slate-400"
            >
              Cari dokumen hukum berbahasa Indonesia yang mengandung entitas
              hukum tertentu dengan menggunakan IndonesianLER.
            </p>

            <form class="max-w-lg mx-auto" action="/search" method="post">
              <div class="flex">
                <label
                  for="search"
                  class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
                  >Search</label
                >
                <div class="relative w-1/5">
                  <select
                    id="rank"
                    name="rank"
                    class="form-select appearance-none block w-full px-4 py-2 pr-8 rounded-s-lg text-center text-gray-900 bg-gray-50 border border-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                  >
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="All">All</option>
                  </select>
                </div>

                <div class="relative w-full">
                  <input
                    type="search"
                    id="search"
                    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                    name="search"
                    placeholder="Cari dokumen hukum..."
                    autocomplete="off"
                    required
                  />
                  <button
                    type="submit"
                    class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    <svg
                      class="w-4 h-4"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 20 20"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                      />
                    </svg>
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>

      {% include 'layouts/footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
